# Turn off MultiViews
Options -MultiViews

# Directive to ensure *.rdf files served as appropriate content type,
# if not present in main apache config
AddType application/rdf+xml .rdf
AddType application/rdf+xml .owl
AddType text/turtle .ttl
AddType application/n-triples .n3
AddType application/ld+json .json

# Rewrite engine setup
RewriteEngine on


# Rewrite rule for contexts folder. MUST be above general ontology rule.

RewriteRule ^dfc/ontology/contexts/(.*)$  https://github.com/datafoodconsortium/ontology/releases/latest/download/contexts/$1 [R=302,L]
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS"

# Rewrite rule for ontology folder

RewriteRule ^dfc/ontology/(.*)$  https://github.com/datafoodconsortium/ontology/releases/latest/download/$1 [R=302,L]
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS"


# Rewrite rule for taxonomies folder

RewriteRule ^dfc/taxonomies/(.*)$ https://github.com/datafoodconsortium/taxonomies/releases/latest/download/$1 [R=302,L]
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS"
